.lang-list {
  display: flex;
  gap: 21px;

  .lang-item {
    &.active {
      position: relative;

      .lang-link {
        color: $base-text-color;
      }

      &::before {
        content: '';
        position: absolute;
        top: -4px;
        left: 50%;
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $base-text-color;
      }
    }
  }

  .lang-link {
    font-size: rem(11px);
    line-height: rem(13px);
    letter-spacing: rem(1px);
    text-transform: uppercase;
    color: $lang-link-color;
  }
}